<img src="<%= @user.image_url %>" style='width: 200px; height: 200px'/>
<h2><%= @user.name %></h2>
<h3>Organization</h3>
  
<% current_client.organizations.each do |organization| %>
  <% name = organization.login %>
  <p><%= name %></p>
<% end %>

<h3>Repositories</h3>
<% current_client.repositories.each do |repository| %>
  <% if repository.owner.login == current_user.username %>
    <p><%= repository.name %></p>
  <%# current_client.list_issues(user.name/repository.name) %>
  <% end %>
<% end %>

<h3>Tasks</h3>
<% current_client.issues(nil, :filter => "subscribed").each do |issue| %>
  <% if issue.state == 'open' %>
    <% title = issue.title %>
    <% user = issue.user.login %>
    
    <div><%= title %><ul> 
        <li><%= user %></li>
        <li><%= issue.repository.name %></li>
      </ul>
    </div>
  <% end %>
<% end %>
