  <header>
    <nav>
      <h1><%= link_to "Catpus", root_url %></h1>
      <% if logged_in? %>
        <div> <%= current_user.name %> </div>
        <div> <%= link_to "Repositories", user_url(current_user) %> </div>
        <div> <%= button_to "Sign Out", sessions_url, method: :delete %> </div>
      <% else %>
        <%= link_to "Sign in with Github", "/auth/github/" %>
      <% end %>
    </nav>
  </header>